@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  img {
    display: block;
    max-width: 100%;
    transition: all 0.3s;
  }

  li {
    overflow: hidden;
  }

  img:hover {
    transform: scale(1.3);
  }

  button:hover {
    background-image: linear-gradient(45deg, #3498db, #3498db);
  }
}

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-blue-left to-blue-right;
  }

  .time-num {
    @apply block text-[32px] md:text-[59px] font-bold;
  }

  .time-data {
    @apply block text-xs font-extrabold uppercase;
  }
}
